<!-- SEARCH COMPONENT -->
<div class="w-500px mt-5 mb-5">
  <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
</div>

<!-- LOADING COMPONENT -->
<div
  *ngIf="isLoading"
  class="flex justify-center align-middle items-center w-full h-full border-2 border-slate rounded-md"
>
  <span class="w-96 p-5">
    <ngx-skeleton-loader
      count="1"
      appearance="circle"
      [theme]="{
        'width.px': 200,
        'height.px': 200
      }"
    />
  </span>
  <span class="w-96">
    <ngx-skeleton-loader
      count="5"
      appearance="line"
      [theme]="{
        'width.px': 300,
        'height.px': 30
      }"
    ></ngx-skeleton-loader>
  </span>
</div>

<!-- USER NOT FOUND COMPONENT -->
<div *ngIf="!isLoading && isError">
  <app-usernotfound></app-usernotfound>
</div>

<!-- USER FOUND COMPONENT -->
<div
  *ngIf="!isLoading && !isError"
  class="w-full p-10 border-slate rounded-md shadow-lg border-2 grid grid-cols-4 gap-2"
>
  <!-- USER INFO  -->
  <div class="col-span-1">
    <img
      src="{{ user.avatar_url }}"
      width="200px"
      height="200px"
      class="m-4 shadow-sm shadow-black"
      style="border-radius: 100px"
    />
    <div class="mb-2 p-3">
      <h1 class="font-bold text-lg">{{ user.name }}</h1>
      <h2 class="font-light text-sm mb-1">{{ username }}</h2>
      <div class="flex items-center text-xs">
        <app-followers />
        <p class="mr-1">
          <span class="font-semibold">{{ user.followers }}</span> followers
        </p>

        <p>
          <span class="font-semibold">
            {{ user.following }}
          </span>
          following
        </p>
      </div>
      <div *ngIf="user.location" class="flex pt-1 pb-2 items-center">
        <app-location />
        <p class="text-xs">
          {{ user.location }}
        </p>
      </div>
      <div
        class="items-center bg-green-500 p-1 flex justify-center rounded-md mt-2"
      >
        <a href="{{ user.html_url }}" class="button" target="_blank">Github</a>
        <app-arrowup />
      </div>
    </div>
  </div>

  <!-- REPO INFO -->
  <div class="col-span-3">
    <!-- DROPDOWN COMPONENT -->
    <div class="flex justify-between p-2 ml-6 mr-7">
      <app-dropdown (dropDownEvent)="onDropdownValueChange($event)" />
    </div>
    <!-- DROPDOWN COMPONENT END-->
    <!-- REPOS -->
    <div class="grid grid-cols-1 ml-8 gap-2 w-11/12">
      <div
        *ngFor="
          let repo of repos
            | paginate
              : {
                  itemsPerPage: perPage,
                  currentPage: page,
                  totalItems: totalItems
                };
          let i = index
        "
        class="p-4 border-slate-200 border-t-2"
      >
        <span
          class="flex items-center text-blue-500 text-lg font-bold hover:underline"
        >
          <a href="{{ repo.html_url }}" target="_blank">
            {{ repo.name }}
          </a>
          <app-arrowup />
        </span>
        <p class="w-96 text-xs mt-1 mb-1 font-light">
          {{ repo.description }}
        </p>
        <div class="w-96 flex flex-wrap">
          <div
            *ngFor="let topic of repo.topics.slice(0, 6)"
            class="flex flex-col"
          >
            <span
              class="bg-blue-500 bg-opacity-30 text-blue-600 font-semibold text-xs rounded-2xl pt-1 pb-1 pl-2 pr-2 m-1"
              >{{ topic }}</span
            >
          </div>
        </div>
        <div class="flex flex-wrap text-xs mt-2">
          <p *ngIf="repo.language" class="mr-3">{{ repo.language }}</p>
          <p *ngIf="repo.forks_count !== 0" class="mr-3">
            fork {{ repo.forks_count }}
          </p>
          <p>
            Updated {{ convertTimestampToWeeks(repo.updated_at) }} weeks ago
          </p>
        </div>
      </div>
    </div>
    <!-- REPOS END -->
    <!-- PAGINATION COMPONENT START-->
    <div class="flex justify-center m-7 border-t-2 p-4">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
    <!-- PAGINATION COMPONENT END-->
  </div>
</div>

<!-- FOOTER -->
<div class="mt-5 mb-5 text-center w-ful text-sm text-gray-600 bottom-0">
  <p>made by deepti 2024</p>
</div>
